SYNAPSE_URL='http://localhost:8008'
REGISTRATION_SHARED_SECRET='look in your synapses homeserver.yaml'
AS_TOKEN='look in the app-service.yaml'
EXCLUDED_USERS='rocket.cat' # Comma-separated list of usernames or IDs
ADMIN_USERNAME='admin' # The login name of the Rocket.Chat admin/new Matrix admin
ADMIN_PASSWORD='verySecretPassword' # The password of the Rocket.Chat admin/new Matrix admin
